// Variables used throughout
@import "variables";

.slider-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	&#header-slider { // rename here if updating sliders, or adding new ones
		height: 100vh;
		
	}
	&#sidebar-slider { // again, can rename slider here
		top: 120%;
		height: 50vh;
		@include bp(tablet) {
			height: 70vh;
		}
		@include bp(mobile) {
			height: 40vh;
		}
		.slide .overlay-text {
			top: 0px;
			padding: 5px 20px;
			bottom: initial;
			} 
			h1 {
			font-size: 2em;
			line-height: 2em;
			@include bp(tablet) {
				font-size: 1.5em;
				line-height: 1.5em;
				margin-bottom: 20px;
			}
			@include bp(mobile) {
				font-size: 1em;
				line-height: 1em;
				margin-bottom: 20px;
			}
			button {
				@include bp(tablet) {
					font-size: 12px;
				}
				@include bp(mobile) {
					font-size: 12px;
				}
			}
		}
	}

	.slide {
		position: absolute;
		width: 100%;
		left: 100%;
		height: 100%;
		&.initial {
			left: 0px;
			.overlay-text {
				margin-left: 0%;
			}
		}
		&.left-enter {
			left: -100%;
		}
		&.right-enter {
			left: 100%;
		}
		
		.image-wrapper {
			background-size: cover;		
			height: 100%;	
			width: 100%;
		}
		.overlay-text {
			background-color: rgba(256,256,256, 0.6);
			bottom: 90px;			
			padding: 20px 40px;
			position: absolute;
			margin-left: 40%;
			h1 {
				font-size: 2.4rem;
				line-height: 2.4rem
			}
			button {
				float: right;
				font-size: 16px;
				margin-top: -20px;
			}
		}
	}

	.slider-nav-wrapper {
		bottom: 15px;
		height: 50px;
		position: absolute;
		width: 100%;
	  	.slider-nav-container {
		    display: flex;
		    flex-direction: column;
		    height: 100%;
		    margin: 0 auto;
		    max-width: 300px;
		    min-width: 150px;
		    position: relative;
		    width: 30%;
	    	.dot-nav-wrapper {
	    		display: flex;
			    flex: 4;
			    height: 80%;
      			.dot-nav-circle {
      				color: $navColor;
      				flex: 1;
			        float: left;
			        font-size: 26px;			        			        
			        opacity: $navOpacity;
			        text-align: center;
			        &.active {
			        	opacity: 1;
			        	i {
			        		background-color: rgba($navR, $navG, $navB, $navA);
			        	}			        	
			        }
			        &.dot-nav-play-pause {
			        	cursor: pointer;
			        	&:hover {
			        		opacity: 1; 
			        		i {
			        			background-color: rgba($navR, $navG, $navB, $navA);
			        		}	
			        	}
			        }				        
			        &.dot-nav-play-pause i {
			        	display: none;
			        }
		        	&.play i.play {
		        		display: inline-block;
		        	}
		        	&.pause i.pause {
		        		display: inline-block;
		        	}
		        	i {
		        		background-color: rgba($navR, $navG, $navB, 0);
		        		border-radius: 24px;
		        		height: 22px;	
		        		line-height: 22px;	        		
			       		width: 22px;
		        	}
      			}
     		}
	    	.loading-wrapper {
			    flex: 1;
			    height: 20%;
			    margin: auto auto 0px auto;      
			    position: relative;
			    width: 100%;	      
      			.loading-bar {
			        background-color: $navColor;
			        height: 100%;
			        left: 0px;
			        opacity: 0;
			        position: absolute;
			        top: 0px;
			        width: 0%;
			        &.visible {
			        	opacity: $navOpacity;
			        }
     			}
	 		}
		}
	}
	.slider-arrow {
		color: $navColor;
		cursor: pointer;
		font-size: 5em;
		opacity: $navOpacity;
		position: absolute;
		top: 50%;
		&:hover {
			opacity: 1;
		}
		&.left-arrow {
			right: 20px;
		}
		&.right-arrow {
			left: 20px;
		}
	}
}